<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Confirmation</title>
</head>
<body>
    <h1>Booking Confirmation</h1>
    <p>Booking confirmed for <%= seats %> seats for event: <%= eventName %>.</p>
    <p>Name: <%= name %> <%= surname %></p>
    <p>Phone Number: <%= phone %></p>
    <p>Confirmation Number: <%= confirmationNumber %></p>
    <p>You will receive SMS with PDF-confirmation on your phone.</p>
    <a href="/">Return to Main Page</a>
</body>
</html>