<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/another.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= event.name %> Details</title>
</head>
<body>
    <h1><%= event.name %> Details</h1>
    <p>Description: <%= event.description %></p>
    <p>Location: <%= event.location %></p>
    <p>Date: <%= event.date %></p>
    <p>Available Seats: <%= event.seats %></p>
    <a href="/events">Back to Events</a>
    <form action="/events/<%= event.id %>/book" method="GET">
        <button type="submit">Zarezerwuj</button>
    </form>
</body>
</html>
